<!DOCTYPE html>
<html>
  <head>
    <title>Messages</title>

    <link rel="stylesheet" href="/stylesheets/app.css">

    <script src="/javascripts/lib/jquery.js"></script>
    <script src="/javascripts/lib/underscore.js"></script>
    <script src="/javascripts/lib/backbone.js"></script>
    <script src="/javascripts/lib/bluebird.js"></script>
    <script src="/javascripts/lib/uuid.js"></script>
    <script src="/javascripts/lib/jquery.timeago.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app/app.js"></script>
  </head>

  <body>
    <%- body %>
  </body>
</html>

